.footer{
    background: lightseagreen;
    color: blue;
}
ul#menu {
    background: #a1def8;
    padding: 10px 0px;
}

ul#menu li {
    display:inline;
    padding: 0px 40px;
    text-decoration: none;
  }

  ul#menu li a{
    text-decoration: none;
  }